@font-face {
  font-family: 'Garet';
  src: url('#{$static-path}/fonts/Garet-Book.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('#{$static-path}/fonts/Garet-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('#{$static-path}/fonts/Garet-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Garet';
  src: url('#{$static-path}/fonts/Garet-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
